@media screen and (min-width: 80rem) {
  .title {
    margin: 1em 2em;
  }
}
body {
  background-color: rgb(255, 254, 254);
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 30px;
  background-color: pink;
  width: 700px;
  height: 100px;
  border-style: hidden solid solid hidden;
  border-width: 4px;
  border-radius: 5px;
  border-color: rgb(97, 6, 92);
  position: relative;
  left: 900px;
  display: flex;
  flex-direction: column;
}

.about-me {
  margin-left: 100px;
  margin-top: 70px;
  background-color: pink;
  width: 400px;
  height: 500px;
  padding-top: 15px;
  text-align: center;
  font-size: 25;
  border-style: hidden solid solid hidden;
  border-width: 4px;
  border-radius: 5px;
  border-color: rgb(97, 6, 92);
  display: flex;
  float: left;
  flex-direction: column;
  position: relative;
  left: 700px;
}

.about-me p {
  font-size: 20;
  font-family: cursive;
  padding: 10px;
  text-wrap: wrap;
  display: flex;
}

.blog-post {
  display: flex;
  margin-left: 200px;
  font-size: 25;
  width: 400px;
  height: 500px;
  background-color: pink;
  text-align: center;
  border-style: hidden solid solid hidden;
  border-width: 4px;
  border-radius: 5px;
  border-color: rgb(97, 6, 92);
  float: left;
  flex-direction: column;
  position: relative;
  left: 600px;
}
