body {
  background-color: rgb(0, 0, 0);
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 30px;
  background-color: pink;
  width: 700px;
  height: 100px;
  margin-left: 300px;
  margin-top: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

p {
  color: rgb(0, 0, 0);
  text-align: center;
}

h3 {
}

.about-me {
  margin-left: 100px;
  margin-top: 70px;
  background-color: pink;
  width: 400px;
  height: 500px;
  padding-top: 15px;
  text-align: center;
  font-size: 25;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  display: inline-block;
}

.about-me p {
  font-size: 20;
  font-family: cursive;
  padding: 10px;
}

.blog-post {
  display: inline-block;
  margin-left: 200px;
  font-size: 25;
  width: 400px;
  height: 500px;
  background-color: pink;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
